name: CI

on:
  push:
    branches: [main]
  pull_request:
    types: [synchronize, opened, reopened]
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10.28.0
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build & lint & test
        if: runner.os == 'Windows'
        run: pnpm run all
      - name: Build & lint & test (linux)
        if: runner.os != 'Windows'
        run: xvfb-run -a pnpm run all
