name: CI

on:
  push:
    branches: [main]
  pull_request:
    types: [synchronize, opened, reopened]
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build & lint & test
        if: runner.os == 'Windows'
        run: npm run all
      - name: Build & lint & test (linux)
        if: runner.os != 'Windows'
        run: xvfb-run -a npm run all
