name: Publish Mutation Server Protocol

on:
  push:
    tags:
      - 'mutation-server-protocol@*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Release
        run: npx lerna publish from-git --yes --pre-dist-tag next
