name: Publish Mutation Server Protocol

on:
  push:
    tags:
      - 'mutation-server-protocol@*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm run build
      - name: Release
        run: pnpm lerna publish from-git --yes --pre-dist-tag next
